<h1 class="new-category-heading"><b>Categories</b></h1>
<% if @categories.empty? %>
  <h2>There is no categories for now</h2>
<% end %>
<div >
    <ul class="categories-list">
        <% @categories.each do |category| %>
          <li class="my-6">
            <% @test = 0%>
          <img src=<%=category.icon%> class="images"  alt="Girl in a jacket" width="80" height="80">
          <% @total.where(group: category).each do | item | %>
          <% @test += item.exchange.amount %>
          <% end %>
          <%= link_to category.name, "/groups/#{category.id}" %>
          <p><%= @test%></p>
          </li>
        <% end %>
    </ul>
</div>
<div class="new-category">
  <%= link_to 'Add New Category', new_group_path, class: "px-4 py-2 border-2 border-black cursor:pointer" %>
</div>